#menu {
    width: 300px;
    height: 100vh;
    background-color: red;
    float: left;
    position: absolute;
    top: 0;

    bottom: 0;
    transition: left 0.18s ease-out;
    z-index: 1;
}

#menu-icon {
    width: 32px;
    height: 32px;
    margin: 6px;
    background-image: url('images/1457921783_menu.svg');
    position: absolute;
    top: 0;
    right: -48px;
    visibility: hidden;
}

#menu.opened {
    left: 0;
}

.opened #menu-icon {
    background-image: url('images/1457924590_ic_close_48px.svg');
}

#menu.closed {
    left: -300px;
}

.closed #menu-icon {
    background-image: url('images/1457921783_menu.svg');
}

#main-content {
    max-width: 100%;
    height: 100vh;
    margin-left: 300px;
    background-color: blue;
    transition: margin-left 0.18s ease-out;
    position: relative;
}

@media (max-width: 768px) {
    #menu {
        left: -300px;
    }

    #menu-icon {
        visibility: visible;
    }

    #main-content {
        margin-left: 0;
    }
}

.say-hello {
    width: 250px;
    height: 150px;
    background-color: white;
}

.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}