#menu {
    width: 300px;
    height: 100vh;
    float: left;
    background-color: red;
    margin-left: 0px;
    position: relative;
}

#menu-icon {
    width: 32px;
    height: 32px;
    margin: 6px;
    background-image: url('images/1457921783_menu.svg');
    position: absolute;
    top: 0;
    right: -48px;
}

#main-content {
    width: 100%;
    height: 100vh;
    margin-left: 300px;
    background-color: blue;
}

@media (max-width: 768px) {
    #menu {
        margin-left: -300px;
    }

    #main-content {
        margin-left: 0;
    }
}